body {
    font-family      : "Lucida Console", Monaco, monospace;
    background-color : steelblue;
    color            : black;
}

h1 {
    text-align : center;
}

p {
    text-align : center;
}

canvas {
    background-color : cornsilk;
    border           : ridge;
}

.space {
    margin : 5px;
}

.center {
    width   : 50%;
    margin  : 0 auto;

    display         : flex;
    justify-content : center;
    align-items     : center;
}